
/*body{font-size:11px;}*/

.ddl {position: relative;}
.ltd {
    color: blue;
    text-align: center;
}
.ltd:hover {
    text-decoration:underline;
    cursor: hand;
    cursor: pointer;
}

/*Aggregate Classes*/

.aggrRed {
    background-color: #F77 !important;
    font-weight: bold;
}

.aggrOrange {
    background-color: #F93 !important;
    font-weight: bold;
}

.aggrYellow {
    background-color: #FF6 !important;
    font-weight: bold;
}

.aggrGreen {
    background-color: #9F9 !important;
    font-weight: bold;
}

/*Header Classes*/
.headerMain {
    font-size: 12px;
    width:100%;
    overflow:hidden;
    display:inline-block;
    vertical-align:top;
    position:relative;
}

.headerTitle {
    position: relative;
    left:5px;
    font-size: 20px;
    vertical-align: middle;
}

.headerDateRange {
    font-size: 16px;
    vertical-align: middle;
}

/*Tab classes*/
#tabs {
    font-size: 12px;
}
.tabSubHeader {
    font-size: 12px;
}

/*Datatable classes*/
#grid {
    font-size: 14px;
}

/*Generic Classes*/
button:hover {
    text-decoration:underline;
    cursor: hand;
    cursor: pointer;
}

.right {
    float:right
}

tr.even {
    background-color: #F0F7FE;
}

tr.odd {
    background-color: white;
}

/*Progress Bar Classes*/
.noTitle .ui-dialog-titlebar {
    display:none;
}
.noBackGround {
    background:transparent !important;
}
.ui-progressbar {
    top: 45%;
    position: relative;
}
.progress-label {
    display: table;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}
