
{% extends 'base.html' %}

{% block title %}DQA Scan List{% endblock %}
{% block header_title %}Scans List: {% if parentid %}Parent = {{ parentid }}{% else %}Parents{% endif %}{% endblock %}
{% block header_buttons %}
    {% if parentid %}<button type='button' id='btnParentScan' onclick="window.location.href='{% url 'scans' %}{% if group %}?group={{ group }}{% endif %}'">Parent List</button>{% endif %}
    {% if not parentid %}<button type='button' id='btnAddScan' onclick="window.location.href='{% url 'addscan' %}{% if group %}?group={{ group }}{% endif %}'">Add Scan</button>{% endif %}
    <button type='button' id='btnSummary' onclick="window.location.href='{% if group %}{% url 'summary' group %}{% else %}{% url 'summary_nogroup' %}{% endif %}'">Summary</button>
{% endblock %}
{% block body_block %}
    <table id="scans" class="display">
        <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Network</th>
            <th>Station</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Priority</th>
            <th>Updated</th>
            <th>Message</th>
            <th>Order</th>
        </tr>
        </thead>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            var datatable = $('#scans').DataTable({
                "fixedHeader":  true,
                "scrollY":      "76vh",
                "serverSide":   false,
                "order":        [[10, "desc"],],
                "paging":       false,
                "columns": [
                    { "data": "id", "className": "dt-center"},
                    { "data": "status", "className": "dt-center"},
                    { "data": "network_filter", "className": "dt-center"},
                    { "data": "station_filter", "className": "dt-center"},
                    { "data": "location_filter", "className": "dt-center"},
                    { "data": "start_date", "className": "dt-center"},
                    { "data": "end_date", "className": "dt-center"},
                    { "data": "priority", "className": "dt-center"},
                    { "data": "last_updated", "className": "dt-center"},
                    { "data": "message", "className": "dt-center"},
                    { "data": "ordering", "className": "dt-center", "visible": false }
                ],
                "ajax": "{%  url 'scansapi' %}{% if parentid %}?parentid={{ parentid }}{% if group %}&group={{ group }}{% endif %}{% elif group %}?group={{ group }}{% endif %}",
                "rowCallback": function( row, data, index ) {
                    const column = 1;
                    if ( data['status'].indexOf("Running") >= 0)
                    {
                       $(row).find('td:eq(' + column + ')').css('background-color', 'orange');
                    }
                    else if ( data['status'].indexOf("Complete") >= 0 )
                    {
                       $(row).find('td:eq(' + column + ')').css('background-color', 'green');
                    }
                    else if ( data['status'].indexOf("Error") >= 0)
                    {
                       $(row).find('td:eq(' + column + ')').css('background-color', 'red');
                    }
                }
            });
            $("button").button();
        });
    </script>

{% endblock %}
